<div class="row">

  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.rent }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.loyer }}">{{ city.loyer }} / 5</div>
    </div>
  </div>
  
  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.life }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.animation }}">{{ city.animation }} / 5</div>
    </div>
  </div>

  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.safety }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.delinquance }}">{{ city.delinquance }} / 5</div>
    </div>
  </div>
  
  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.internet }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.internet }}">{{ city.internet }} / 5</div>
    </div>
  </div>

  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.weather }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.meteo }}">{{ city.meteo }} / 5</div>
    </div>
  </div>

  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.transportation }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.transport }}">{{ city.transport }} / 5</div>
    </div>
  </div>

  <div class="side">
    <div>{{ site.data.i18n[page.lang].ratings.coworkings }}</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-{{ city.coworking }}">{{ city.coworking }} / 5</div>
    </div>
  </div>
</div>