// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #061161 !default;
$header-bg-color-secondary: #780206 !default;
$content-bg-color: #B7F8DB;
$content-bg-color-secondary: #B7F8DB ;
$body-background-color:#fff;
$color-tier1 : #264193;
$color-tier2 : #481F6B;
$color-tier3 : #602043;

// Text
$section-headings-color: #EA5663 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #777777 !default;
