---
layout: default
---

<div class="lead text-center py-4 text-light motivation-lead">{{ site.data.i18n[page.lang].blog.lead }}</div>

<main id="content" class="main-content standard-page-container" role="main">
  <div id="postslist">
    {% for post in paginator.posts %}
      <div class="postpreview border mx-auto my-4 p-3 w-75 shadow-sm">
        <a href="{{ post.url }}">{{ post.title }}</a> - <small>{{ post.date | date: "%Y-%m-%d" }}</small>
        <p>{{ post.excerpt }} <a href="{{ post.url }}"><em>{{ site.data.i18n[page.lang].blog.readmore }}</em></a></p>
      </div>
    {% endfor %}
  </div>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

</main>
{% include footer.html %}